@model IEnumerable<Music_2.Data.Entities.Slide>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


<div class="item-slick1" style=" background-image: url('~/images/slide-04.jpg');">
    <div class="container h-full">
        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                <span class="ltext-101 cl0 respon2">
                    25% OFF ON SELECTED ITEMS
                </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                <h2 class="ltext-201 cl0 p-t-19 p-b-43 respon1">
                    NEW SEASON
                </h2>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">

                @Html.ActionLink("Shop Now", "Index", "Product", null, new { @class = "flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" })
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
    {
<div class="item-slick1" style="        background-image: url(@(Configuration["BaseAddress"] + item.Image));">
    <div class="container h-full">
        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
        </div>
    </div>
</div>
    }